[submodule "libs/JoltPhysics"]
	path = libs/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "libs/GLEW"]
	path = libs/GLEW
	url = https://github.com/nigels-com/glew.git
