[submodule "libs/JoltPhysics"]
	path = libs/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "libs/uuidv7-h"]
	path = libs/uuidv7-h
	url = https://github.com/LiosK/uuidv7-h.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/CMRC"]
	path = libs/CMRC
	url = https://github.com/vector-of-bool/cmrc.git
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "libs/SDL2"]
	path = libs/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "libs/SDL2_image"]
	path = libs/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
[submodule "libs/SDL2_mixer"]
	path = libs/SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = SDL2
